/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  background-repeat: no-repeat;
}

/* common */
:root {
  --font-color-main:#333333;
  --font-color-second:white;
  --font-color-links:black;
  --font-color-footer:white;

  --margin-bottom:40px;
  --margin-bottomH:20px;
  --margin-bottomC:70px;
  --margin-bottomS:100px;
 
}

body{
  background-image: url("../imgwebsite/bg_dot.png");
  background-attachment: fixed;
  background-size: 100%;
  background-position: 0% 100%;

  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
}

header {
  padding:6px;
  text-transform: uppercase;
  font-weight: 800;
}

header p {
  font-style: italic;
  font-size: 0.5em;
  margin-left: 10px;
}

header img {
  width: 100px;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

header nav ul{
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  gap:10px;
  list-style-type: none;

}

header nav li {
  min-width: 4em;
}


ul a {
  text-decoration: none;
  color: var(--font-color-links);
  font-size: 0.8em;
}

ul a:hover{
  opacity: .6;
  transition: 0.3s ease;
}

img {
  max-width: 100%;
 }

 h1 {
   color:#D6D6D6;
   letter-spacing: -0.09em;
   font-size: 2.55em;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: var(--margin-bottom);
 }

h2{
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight:900;
  color: var( --font-color-main);
  text-align: center;
}

/* scroll back to top button */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 99;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color:#C9C9C9;
  color:white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  border: solid white 2px;
  border-radius: 80px;
}
#back2Top:hover {
  opacity: .6;

}





/* HOMEPAGE */
.mainimg {
  margin-bottom: var(--margin-bottom);
}

/* trailer */
.trailerMovie h2 {
  margin-bottom: var(--margin-bottomH);
}

iframe {
  border: none;
  width: 100%;
  max-width: 500px;
  margin-bottom: var(--margin-bottom);

}
  
/* news */
.newsSection h2{
margin-bottom: -5px;
}

table {
  position:relative;
  font-weight: 500;
  margin-bottom: var(--margin-bottom);
}

tr {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;

  background-color: #FE9A26;
  cursor: pointer;
  transition: .3s ease;

}

tr:hover{
  opacity: .6;
  transition: 0.3s ease;
}

tr span{
  font-size: 0.9em;
  font-family: arial,serif;
  letter-spacing: 0.05em;
}

td {
  color: var(  --font-color-second);
  margin: 5px 25px;
}

td a {
  text-decoration: none;
  color: var(  --font-color-second);
}


/* twitter embed */
.twitterSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.twitterSection div{
  display: flex;
  flex-direction: row;
}

.twitterSection span a {
  text-decoration: none;
  
  display:inline-block;
  margin:0 0 0 0.5em;
  font-size:50%;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
  font-weight:600;
  font-size: 15px;
  text-transform: lowercase;
  color: #FE9A26;
}


.headerFotos {
  margin:50px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerFotos img {
  border: solid #D8D7D9 1px;
}

.headerFotos img:hover {
  opacity: .6;
  transition: 0.3s ease;
}

.linkje{
  text-decoration: none;
  color: var(--font-color-links);
  font-weight: 600;
  text-align: center;
  margin-bottom: var(--margin-bottom);
}

/* footer */
footer {
  background-color: #FE9A26;
}

footer p {
color:var(--font-color-footer);
text-align: center;
padding:10px;
}

/* STAFF & CAST PAGE*/
.staffcastlogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--margin-bottom);
  width: 65%;
  max-width: 350px;
}


.staffandcast h2 {
  margin-bottom: var(--margin-bottomH);
  font-weight: 700;
  font-size: 2em;
}

.staffandcast section{
  margin-bottom: var(--margin-bottomS);
}

.staffandcast div {
  display: block;
}

.staffandcast ul {
  list-style-type: none;
  position: relative;
  padding: 0;
}

.staffandcast li {

  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}


.staffandcast div:nth-child(1) {
  font-size: 0.8em;
  padding: 0 20px 0 0;
  text-align: right;
  font-weight: 500;

}

.staffandcast div:nth-child(2) {
  font-weight: 600;
  padding: 0 0 0 20px;
  text-align: left;
  font-size: 18px;
  margin: 2px 0;
}

.staffandcast li div{
  width: 50%;
}

.staffandcast div span {
  font-size: 0.8em;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 0 .5em;
}
