/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

header img {
width: 100px;
}

.mainimg {
  width: 300px;
}

.headerFotos img {
  width: 286px;;
}



.staffcastlogo {
  width: 205px;
}