/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
}

/**********/
/* COMMON */
/**********/
:root {
  --font-color-main: #333333;
  --font-color-second: white;
  --font-color-links: black;
  --font-color-footer: white;

  --margin-bottom: 40px;
  --margin-bottomH: 20px;
  --margin-bottomC: 70px;
  --margin-bottomS: 100px;
}

body {
  background-image: url("../imgwebsite/bg_dot.png");
  background-attachment: fixed;
  background-size: 100%;
  background-position: 0% 100%;

  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans JP", Meiryo, sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.776);

  padding: 3px 0 0 6px;
  position: sticky;
  top: 0;

  text-transform: uppercase;
  font-weight: 800;
}

header p {
  margin-left: 10px;
  margin-top: 8px;
  font-style: italic;
  font-size: 2.6vmin;
}

header img {
  width: 32.4vw;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

h2 {
  color: var(--font-color-main);

  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 900;
}

/***** NAVIGATIE *****/
/* hamburger icoontje code van  https://www.w3schools.com/howto/howto_css_menu_icon.asp */
button {
  background: none;

  cursor: pointer;

  border: none;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 1px;
}

.bar1,
.bar2,
.bar3 {
  background-color: #fe9a26;

  /* width: 10vw; */
  width: 30px;
  height: 5px;
  /* height: 1vh; */
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  background-color: black;

  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  background-color: black;

  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header nav ul {
  background-color: #fe9a26;
  list-style-type: none;
  background-image: url("../imgwebsite/Unknown.svg");
  background-size: 27%;
  background-position: 2% 50%;

  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 9999;
  opacity: 0;
  transition: all 0.6s;
  transition-delay: 0.1s;
  transform: translateX(30em);
}

header nav ul.terug {
  transform: translateX(0);
  transition: 0.5s;
  opacity: 1;
}

header ul {
  flex-direction: column;
  margin: 40px 0;
}

header nav li {
  margin: 20px 30px 20px 0;
  text-align: right;
}

header nav li:first-child {
  margin-top: var(--margin-bottom);
}

ul a {
  color: white;

  font-weight: 900;
  font-size: 1.1em;
  text-decoration: none;
}

ul a:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

#homeAcive,
#staffActive {
  color: #fe9a26;
  background: white;
  padding: 10px;
}

/***** scroll back to top button *****/
/***** css code van https://html-online.com/articles/dynamic-scroll-back-top-page-button-javascript/ */
#back2Top {
  background-color: #c9c9c9;
  color: white;

  border: solid white 2px;
  border-radius: 80px;

  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 99;
  display: none;
  cursor: pointer;
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 10px;

  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  opacity: 0.6;
}

/***** footer *****/
footer {
  background-color: #fe9a26;
}

footer p {
  color: var(--font-color-footer);

  text-align: center;

  padding: 10px;
}

/************/
/* HOMEPAGE */
/************/
.mainImg {
  margin-bottom: var(--margin-bottom);
}

/* trailer video*/
section:first-of-type h2 {
  margin-bottom: var(--margin-bottomH);
}

/* Voor de responsive van de Iframe, stukje code gevonden op https://blog.theodo.com/2018/01/responsive-iframes-css-trick/ */
.respIframe {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: var(--margin-bottom);
}

.respIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: -1;
  cursor: pointer;
}

/***** news *****/
section:nth-of-type(2) h2 {
  margin-bottom: -5px;
}

table {
  position: relative;
  margin-bottom: var(--margin-bottom);

  font-weight: 500;
  z-index: -1;
}

tr {
  background-color: #fe9a26;

  vertical-align: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;

  cursor: pointer;
  transition: 0.3s ease;
}

tr:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

th {
  font-size: 0.9em;
  font-family: arial, serif;
  letter-spacing: 0.05em;
  font-weight: 400;
}

td,
th {
  color: var(--font-color-second);
}
th {
  margin: 15px 25px 0 25px;
}

td {
  margin: 5px 25px;
}

td a {
  color: var(--font-color-second);

  text-decoration: none;
}

/**** twitter embed ****/
section:nth-of-type(3) .twitter-timeline {
  width: 90% !important;
}

section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-of-type(3) div {
  display: flex;
  flex-direction: row;
}

section:nth-of-type(3) span a {
  color: #fe9a26;

  display: inline-block;
  margin: 0 0 0 0.5em;

  text-decoration: none;
  font-size: 50%;
  font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans JP", Meiryo, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: lowercase;
}

section:nth-of-type(4) {
  margin: 50px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

section:nth-of-type(4) img {
  border: solid #d8d7d9 1px;
}

section:nth-of-type(4) img:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

section:nth-of-type(4) a:last-child {
  margin-bottom: var(--margin-bottom);

  text-decoration: none;
  color: var(--font-color-links);
  font-weight: 600;
  text-align: center;
}

/**********************/
/* STAFF & CAST PAGINA*/
/**********************/

.anderAchtergrond {
  background-image: url("../imgwebsite/bgStaff.JPG");
  background-attachment: fixed;
  background-size: 100%;
  background-position: 0% 100%;
}

.staffMain h1 {
  color: #d6d6d6;

  margin-bottom: var(--margin-bottom);

  text-align: center;
  letter-spacing: -0.09em;
  font-size: 10vw;
  text-transform: uppercase;
}

svg {
  fill: black;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--margin-bottom);
  width: 65%;
  max-width: 350px;
}

svg .st1 {
  fill: #fe9a26;
}

@keyframes turnAround {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(1turn) scale(1.4);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

svg:hover {
  animation-name: turnAround;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.staffMain section h2 {
  margin-bottom: var(--margin-bottom);

  font-weight: 700;
  font-size: 2em;
}

.staffMain section {
  margin-bottom: var(--margin-bottomS);
  width: 100%;
}

.staffMain div {
  display: block;
  align-items: center;
}

.staffMain ul {
  list-style-type: none;

  position: relative;
  padding: 0;
  z-index: -1;
}

.staffMain li {
  margin: 10px 0;
  display: flex;
  justify-content: center;

  align-items: center;
  line-height: 1.4;
}

.staffMain section li div:nth-child(1) {
  padding: 0 15px 0 0;

  font-size: 0.8em;
  text-align: right;
  font-weight: 500;
}

.staffMain section li div:nth-child(2) {
  padding: 0 0 0 15px;

  font-weight: 600;
  text-align: left;
  font-size: 18px;
  margin: 2px 0;
}

.staffMain li div {
  width: 50%;
}

.staffMain li div span {
  display: inline-block;
  margin: 0 0 0 0.5em;

  font-size: 0.8em;
  font-weight: normal;
}








/****************************************************************/
/* styling voor Ipad/mobiel als de browser minimaal 430 breed is */
/****************************************************************/
@media (min-width: 430px) {
  button {
    top: 3.5px;
  }
}



/****************************************************************/
/* styling voor Ipad als de browser minimaal 490 breed is */
/****************************************************************/
@media (min-width: 470px) {
  button {
    top: 6px;
  }
}



/****************************************************************/
/* styling voor Ipad als de browser minimaal 551 breed is */
/****************************************************************/
@media (min-width: 551px) {
  /**********/
  /* COMMON */
  /**********/
  button {
    top: 6px;
    scale: 1.1;
  }

  /************/
  /* HOMEPAGE */
  /************/
  section:nth-of-type(4) {
    margin: 50px 35px 0 35px;
  }
}



/****************************************************************/
/* styling voor Ipad als de browser minimaal 670 breed is */
/****************************************************************/
@media (min-width: 670px) {
  /**********/
  /* COMMON */
  /**********/

  h2 {
    font-size: 1.5em;
  }

  header p {
    margin: 10px 0 0 20px;
    font-size: 1.2em;
  }

  header img {
    margin: 2px 0 0 2px;
  }

  button {
    top: 15px;
    right: 15px;
    scale: 1.3;
  }

  header nav ul {
    top: 26px;
  }

  header nav li {
    font-size: 1.3em;
  }

  #homeAcive,
  #staffActive {
    padding: 20px;
  }

  header nav li:first-child {
    margin-top: 50px;
  }

  /************/
  /* HOMEPAGE */
  /************/
  .respIframe iframe {
    width: 80%;
    height: 80%;

    margin-left: 50vw;
    transform: translate(-50%);
  }

  .respIframe {
    margin-bottom: -15px;
  }

  table tr {
    font-size: 1.1em;
    width: 100%;
  }

  .twitter-timeline {
    height: 670px !important;
  }

  th {
    margin: 15px 25px 0 25px;
  }

  td {
    margin: 10px 25px 15px 25px;
  }

  section:nth-of-type(4) {
    gap: 20px;
  }

  /**********************/
  /* STAFF & CAST PAGINA*/
  /**********************/
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 760px breed is */
/****************************************************************/
@media (min-width: 760px) {
  /***********/
  /* COMMON*/
  /***********/
  button {
    top: 17px;
    scale: 1.5;
  }

  /************/
  /* HOMEPAGE */
  /************/
  section:nth-of-type(3) div {
    margin-bottom: 15px;
  }

  table {
    margin-bottom: 90px;
  }

  tr {
    width: 102.2% !important;
  }

  section:nth-of-type(4) {
    margin: 100px 10px 0 10px;
  }
}



/****************************************************************/
/* styling voor Ipad als de browser minimaal 780px breed is */
/****************************************************************/
@media (min-width: 780px) {
  /***********/
  /* COMMON*/
  /***********/
  button {
    top: 15px;
    scale: 1.5;
  }

  /************/
  /* HOMEPAGE */
  /************/
  tr {
    width: 104.2% !important;
  }
}



/****************************************************************/
/* styling voor Ipad als de browser minimaal 780px breed is */
/****************************************************************/
@media (min-width: 799px) {
  /***********/
  /* COMMON*/
  /***********/
  button {
    top: 17px;
  }

  header nav ul {
    top: 33px;
  }

  /************/
  /* HOMEPAGE */
  /************/
  tr {
    width: 107% !important;
  }
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 810px breed is */
/****************************************************************/
@media (min-width: 830px) {
  /***********/
  /* COMMON*/
  /***********/
  button {
    top: 20px;
  }

  /************/
  /* HOMEPAGE */
  /************/

  table {
    margin-bottom: 90px;
  }

  tr {
    width: 111% !important;
  }

  section:nth-of-type(4) {
    margin: 100px 10px 0 10px;
  }
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 960px breed is */
/****************************************************************/
@media (min-width: 960px) {
  /***********/
  /* COMMON*/
  /***********/

  /***** voor de layout van de website *****/
  .containerInner {
    background-size: 60%;

    display: grid;
    grid-template-columns: 1fr 60% 5%;
    gap: 0;
  }

  .containerInner main {
    margin-top: -730px;
    order: 2;
  }

  button {
    display: none;
  }

  header {
    margin-top: 35px;
    position: static;
    background: none;
    height: 37vh;
  }

  header div:first-of-type {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
  }

  .containerInner .mainImg {
    position: sticky;
    top: 0;
  }

  .containerInner footer {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .containerInner footer p {
    text-align: center;
    writing-mode: vertical-lr;
  }

  /***** menu *****/
  header nav ul {
    transform: translateX(0);
    opacity: 1;
    position: static;
    transform: none;

    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: none;
    margin: 50px 0 0 -25px;
  }

  header nav li {
    margin: 0;
    margin: 0 0 20px 0;
  }

  header nav li:first-child {
    padding: 0 5px 0 0;
    margin: 0 0 20px 0;
  }

  ul a {
    color: black;

    font-weight: 900;
    font-size: 0.8em;
    text-decoration: none;

    text-align: center;
  }

  ul a:hover {
    opacity: 0.6;
    transition: 0.3s ease;
  }

  #homeAcive,
  #staffActive {
    background: none;
    padding: 0;
    color: #fe9a26;
  }

  /************/
  /* HOMEPAGE */
  /************/
  section:first-of-type {
    margin-bottom: 60px;
  }

  .respIframe iframe {
    width: 90%;
    height: 90%;
    margin-left: 17.2vw;
    transform: translate(-50%);
  }

  table {
    margin: 30px 20px 50px 20px;
    width: 79%;
    background-color: rgba(255, 255, 255, 0.66);
  }

  tr {
    background: none;
    border-bottom: dashed 1px gray;

    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: -10px 0 20px 0;

    cursor: pointer;
    transition: 0.3s ease;
  }

  tr:hover {
    opacity: 0.6;
    transition: 0.3s ease;
  }

  th {
    font-size: 0.9em;
    font-family: arial, serif;
    letter-spacing: 0.05em;
    font-weight: 400;
  }

  td,
  th {
    color: black;
  }
  th {
    margin: 15px 25px 0 25px;
  }

  td {
    margin: 5px 25px;
  }

  td a {
    color: black;

    text-decoration: none;
  }

  section:nth-of-type(4) {
    margin: 50px 20px 0 20px;
  }

  /**********************/
  /* STAFF & CAST PAGINA*/
  /**********************/

  .anderAchtergrond {
    background-size: 60%;
    background-position: 100% 100%;
  }
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 1000px breed is */
/****************************************************************/
@media (min-width: 1000px) {
  /***********/
  /* COMMON*/
  /***********/

  /***** voor de layout van de website *****/
  .containerInner {
    background-size: 85%;
  }

  .containerInner main {
    margin-top: -790px;
  }

  header div:first-of-type {
    margin: 18px;
  }

  /************/
  /* HOMEPAGE */
  /************/

  .respIframe iframe {
    margin-left: 17.4vw;
  }

  /**********************/
  /* STAFF & CAST PAGINA*/
  /**********************/

  .anderAchtergrond {
    background-size: 60%;
    background-position: 100% 100%;
  }
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 1090px breed is */
/****************************************************************/
@media (min-width: 1090px) {
  /***********/
  /* COMMON*/
  /***********/

  /***** voor de layout van de website *****/
  .containerInner {
    grid-template-columns: 1fr 57% 4.5%;
  }

  .containerInner main {
    margin-top: -810px;
  }

  /***** menu *****/
  header nav {
    margin-left: 100px;
  }

  header ul {
    background: none;
    margin-left: -60px !important;
    padding: 0;
  }

  /************/
  /* HOMEPAGE */
  /************/

  .respIframe iframe {
    margin-left: 19vw;
  }

  /**********************/
  /* STAFF & CAST PAGINA*/
  /**********************/
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 1520px breed is */
/****************************************************************/
@media (min-width: 1180px) {
  /***********/
  /* COMMON*/
  /***********/

  .containerInner main {
    margin-top: -880px;
  }


  /************/
  /* HOMEPAGE */
  /************/
  table {
    margin-bottom: 60px;
  }
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 1360px breed is */
/****************************************************************/
@media (min-width: 1350px) {
  /***********/
  /* COMMON*/
  /***********/

  .containerInner main {
    margin-top: -1060px;
  }

  /***** menu *****/
  header nav {
    width: 60%;
  }

  header ul {
    margin-left: 2px !important;
  }

  header ul li {
    padding: 4px;
  }

  header ul li:first-child {
    padding: 4px;
  }

  /************/
  /* HOMEPAGE */
  /************/

  table {
    width: 80%;
    margin-left: 25px;
  }

  section:nth-of-type(4) {
    margin: 60px 40px 0 40px;
  }
}



/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 1520px breed is */
/****************************************************************/
@media (min-width: 1520px) {
  /***********/
  /* COMMON*/
  /***********/

  .containerInner main {
    margin-top: -1190px;
  }

  header ul li:first-child {
    padding: 5px;
  }

   /************/
  /* HOMEPAGE */
  /************/

  table {
    margin-bottom: 60px;
  }
}






/****************************************************************/
/* styling voor Ipad/desktop als de browser minimaal 1600px breed is */
/****************************************************************/
@media (min-width: 1580px) {
  /***********/
  /* COMMON*/
  /***********/

  .containerInner main {
    margin-top: -1270px;
  }

  .containerInner .mainImg {
    width: 102%;
  }

  /***** menu *****/
  header nav {
    width: 60%;
  }

  header ul {
    margin-left: 4px !important;
  }

  header ul li {
    padding: 5px;
  }

  header ul li:first-child {
    padding: 5px;
  }
  
}




/****************************************************************/
/* styling voor desktop als de browser minimaal 2540 breed is */
/****************************************************************/
@media (min-width: 2540px) {
  /***********/
  /* COMMON*/
  /***********/

  /***** voor de layout van de website *****/
  .containerInner {
    background-size: 30%;

    grid-template-columns: 1fr 45% 12%;
  }

  .containerInner main {
    margin-top: -1700px;
    margin-left: 437px;
    width: 60%;
  }

  header {
    margin-top: 45px;
    margin-left: 380px;
  }

  header div:first-of-type {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0 15px 100px;
  }

  header div img {
    width: 90%;
  }

  .containerInner footer {
    background: none;
  }

  .containerInner footer p {
    color: #fe9a26;
  }

  /***** menu *****/
  header nav {
    width: 50%;
  }

  header ul {
    margin-left: 78px !important;
  }

  /************/
  /* HOMEPAGE */
  /************/
  section:first-of-type {
    margin-bottom: 0;
  }

  .respIframe iframe {
    width: 80%;
    height: 80%;
    margin-left: 13vw;
    transform: translate(-50%);
  }

  table {
    margin: 30px 0px 60px 0px;
    width: 84%;
  }

  section:nth-of-type(4) {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  section:nth-of-type(4) > a:last-child {
    grid-column: span 2; 
  }



  /**********************/
  /* STAFF & CAST PAGINA*/
  /**********************/

  .anderAchtergrond {
    background-size: 60%;
    background-position: 100% 100%;
  }
}






